/*estilo del cuerpo del documento. El fondo es de color gris claro, el contenido se centra en la pantalla y se utiliza un modelo de caja flexible.*/
body {
    background-color: #ded9de;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    margin: 0;   
}
/*estilo del contenedor del formulario. Tiene un fondo azul claro, un borde delgado y redondeado, y un relleno interno.*/

#formulario-container {
   
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 80px;
    border-radius: 5px;
    background-color: #8fb2bf;
}

/*las etiquetas y los campos de entrada para comportarse como celdas de tabla, con un pequeño margen inferior y un espacio adicional a la derecha para las etiquetas.*/
label,
input {
    display: table-cell;
    margin-bottom: 1px;
}
/*Define diferentes estilos de etiquetas con diferentes tamaños y pesos de fuente.*/
label {
    padding-right: 10px;
}

.estilo-label {
font-weight: bold;
font-size: 18px;
} 
.estilo-label2 {
font-weight: bold;
font-size: 13px;
}
.estilo-label3 {
font-weight: bold;
font-size: 15px;
}
/*Configura el estilo de dos tipos de títulos,Tamaño, centrados vertical y horizontalmente.*/
div.titulo {
    font-weight: bold;
    font-size: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 0; 
    }
                
.titulo2 {
    font-weight: bold;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    margin: 0; 
    }
/*el fondo de los campos de entrada inválidos a un tono de rosa claro*/
    input:invalid {
        background-color: #FFC0CB;
      }
/*estilo específico para el elemento con el ID "nombre". El texto es de color negro  con un pequeño relleno interno.*/
      #nombre {
        color: #333;
        padding: 5px;
    }